body {
    background-color: gray;
}

.selection {
    display: flex;
    justify-content: center;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}

button:hover{
    transform: scale(1.1);
}

.players{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

.result-score{
    font-size: 2rem;
}